/classroom/jfjfjfjfjfjfjfjfjfjfjfjfjjfjfjfjfjfjfjfjfjfjfjfjfjfjfj/nbproject/private/
/classroom/TestObjectStream/nbproject/private/
/classroom/TestObjectStream/build/
/classroom/TxtFileToHtmlFile/nbproject/private/
/homework/TxtFileToHtmlFile/nbproject/private/
/homework/TxtFileToHtmlFile/build/